{% extends "base.html.twig" %}
{% block content %}
         <div class="header">
  <h2 style="margin:5px" >Ma list des taches </h2><br>
    {{ form_start(Taskform) }}
    <div class="form-group">
        {{ form_row(Taskform.title, {attr: {'placeholder': 'veuillez ajouter une  tache'}}) }}
    </div>
    <div class="form-group">
        
        <br><br>
        {{ form_row(Taskform.completed) }}
    </div>
    
    <div class="form-group">
        <br><button  onclick="newElement()" type="submit" class="w3-button w3-teal">+ Ajouter</button>
    </div>
    {{ form_end(Taskform) }}
</div>    
{% endblock %}

